p {
  margin: 0px;
}

#loading-div {
  width: 100%;
  text-align: center;
  color: white;
  display: none;
}

#loading-div pre {
  color: white;
}

#table-body a {
  font-weight: bold;
  color: cornflowerblue;
}

#item-img {
  border-radius: 4px, 
}

#saveBtnDiv {
  float: right;
  padding: 0px 0px 0px 10px;
}

#saveBtnDiv button {
  width: 40px;
}

#alert-div {
  width: 30%;
  height: 70px;
  line-height: 70px;
  vertical-align: middle;
  color: white;
  padding: 0px 12px;
  float: left;
  background-color: #212529;
  opacity: 0.95;
  position: fixed;
  left: 35%;
  top: 70px;
  border: 2px solid #495057;
  border-radius: 6px;
  display: none;
  z-index: 100;
}

#details-div-overlay {
  width: 100%;
  height: 100%;
  /* line-height: 70px; */
  vertical-align: middle;
  color: white;
  padding: 12px 12px;
  float: left;
  background-color: #212529;
  opacity: 0.75;
  position: fixed;
  left: 0%;
  top: 0px;
  /* border: 2px solid #495057; */
  /* border-radius: 6px; */
  z-index: 100;
  display: none;
}

#details-div{
  z-index: 200;
  position: fixed;
  margin: 0 auto;
  top: 50%;
  width: 50%;
  height: 50%;
  min-height: 300px;
  transform: translate(50%, -50%);
  min-width: 306px;
  color: white;
  /* background-color: #212529;   */
  border: 4px solid #495057;
  padding: 10px;
  font-family: monospace;
  font-size: 14px;
  display: none;
}

#info-div{
  float: left;
  height: 100%;
  width: 69%;
  padding-left: 10px;
  /* width: 250px; */
}

#info-div a {
  font-weight: bold;
  color: cornflowerblue;
}

.label-p {
  font-weight: bold;
  margin-top: 10px;
}

#foto-contain-div{
  height: 100%;
  width: 30%;
  float: left;
  max-height: 365px; 
}

#foto-div{
  margin: 0%;
  height: 100%;
  width: 100%;
  /* background-image: url(/front/imgs/1.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#close-div{
  float: right;
  position: absolute;
  top: 5px;
  right: 5px;
  font: 400 13.3333px Arial;
}



#button-div {
  float: right;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font: 400 13.3333px Arial;
}