#loading-div {
  width: 100%;
  text-align: center;
  color: white;
  display: none;
}

#loading-div pre {
  color: white;
}

#table-body a {
  color: whitesmoke;
}

#item-img {
  border-radius: 4px, 
}

#saveBtnDiv {
  float: right;
  padding: 0px 0px 0px 10px;
}

#saveBtnDiv button {
  width: 40px;
}